import React from 'react';
import { mount, shallow } from 'enzyme';

import { {{pascalCase name}} } from '.';


describe('{{pascalCase name}}', () => {
  test('rendering', () => {
    const wrapper = mountWithTheme(<{{pascalCase name}} />);
    expect(wrapper).toMatchSnapshot();
  });

  test('prop className', () => {
    const className = '{{pascalCase name}}';
    const wrapper = shallowWithTheme(<{{pascalCase name}} className={className} />);
    expect(wrapper.find({{pascalCase name}}).hasClass(className)).toBe(true);
  });
});
